<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}My Classrooms{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/classrooms.css' %}">{% endblock %}
{% block content %}
    <h1>My Classrooms</h1>
    <div class="classroom-grid">
        {% for classroom in classrooms %}
            <a href="{% url 'student_classroom_detail_view' classroom.id%}" class="classroom-card">
                <p>{{ classroom.name }}</p>
            </a>
        {% empty %}
            <p>You are not enrolled in any classrooms</p>
        {% endfor %}
    </div>
    <div class="invites">
        <h2>Pending Invitations ({{invites|length}})</h2>

            {% for invite in invites %}
                <div class="invite-row">
                    <p>{{ invite.classroom_name }} by {{invite.tutor_name}}</p>
                        <form method="POST" action="{% url 'accept_classroom_invite' invite.id %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="accept">
                            <button type="submit" class="btn">Accept</button>
                        </form>
                    <a href="">
                        <form method="POST" action="{% url 'decline_classroom_invite' invite.id %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="decline">
                            <button type="submit" class="btn decline-btn">Decline</button>
                        </form>
                    </a>
                </div>
            {% endfor %}
    </div>
{% endblock %}