<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}{{ classroom.name }}{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/classrooms.css' %}">{% endblock %}
{% block content %}
    <div class="dashboard-header">
        <h1>{{ classroom.name }}</h1>
    </div>

    <main>
        <section class="classroom-details">
            <div class="description-card">
                <h2>{{ classroom.name }}</h2>
                <p>{{ classroom.description }}</p>
            </div>

            <div class="classroom-actions">
                <a href="{% url 'student_classroom_view' %}" class="btn back-btn">← Back</a>
                {% if room %}
                        <a href="{% url 'lobby' room.join_code %}" class="btn join-btn">Join Quiz</a>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}