<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Polling System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        {% include 'partials/navbar.html' %}
        <main>
            <section>
                <h2>Create Interactive Quizzes and Polls</h2>
                <p>
                    Teachers can create quizzes, assign them to rooms, and track student responses in real time.
                    Students can participate in live or pre-assigned quizzes seamlessly on any device.
                </p>
                <div class="button-group">
                    <a href="{% url 'login' %}"  class="btn">Login / Sign Up</a>
                    <a href="#" class="btn">Join Room as Guest</a>
                </div>
            </section>
        </main>
        {% include 'partials/footer.html' %}
    </div>
</body>
</html>
