.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Quiz Header */
.quiz-header {
    margin-bottom: 20px;
}

.room-code {
    font-weight: bold;
    color: #0353a9;
}

body {
    background-color: #5fa7b7 !important;
}

#welcome-screen {
    background: url("{% static 'images/quiz_bg.jpg' %}") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  }
  #welcome-screen h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  #quiz-container {
    display: none;
    margin-top: 2rem;
  }
  .question-card {
    background: #f8f9fa;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 1.5rem;
  }
  .timer {
    font-size: 2rem;
    font-weight: bold;
  }
  
  #end-screen {
    display: none;
    text-align: center;
    margin-top: 2rem;
  }
  #end-screen h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  #question-image-container {
    max-height: 400px;
    overflow: hidden;
    padding-top: 20px;
  }

  #question-image {
    width: auto; 
    max-width: 100%; 
    height: 300px;
    object-fit: contain; 
    display: block;
    margin: 0 auto;
  }


    .spinning-acorn {
        margin-top: 10px;
        width: 50px; /* Adjust size */
        height: 50px;
        animation: spin 1.5s linear infinite; /* Infinite spinning effect */
    }

    /* Selected answer (blue) */
  .selected {
    background-color: #37717e !important;
    color: white !important;
    opacity: 1 !important;
  }

  /* Correct answer (green border) */
  .correct {
    border: 3px solid #28a745 !important;
    background-color: #d4edda !important;
    color: black !important;
  }

  /* Wrong answer (red) */
  .wrong {
    background-color: #e74c3c !important;
    color: white !important;
    border-color: #c0392b !important;
  }


    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }

  /* mobile dimensions */
  @media (max-width: 768px) {
    #welcome-screen h1 {
        font-size: 2.5rem;
    }
  }