<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}{{ classroom.name }}{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/classrooms.css' %}">{% endblock %}
{% block content %}
        <div class="dashboard-header">
            <h1>{{ classroom.name }}</h1>
        </div>

        <main>
            <section class="classroom-details">
                <div class="description-card">
                    <h2>{{ classroom.name }}</h2>
                    <p>{{ classroom.description }}</p>
                    <a href="#create-modal" class="add-student btn invite-btn">Invite</a>
                    <a href="" class="btn assign-btn">Assign Quiz<a>
                </div>

                <div class="classroom-actions">
                    <a href="{% url 'tutor_classroom_view' %}" class="btn back-btn">← Back</a>
                    <!-- <form method="POST" onsubmit="return confirm('Delete this classroom?');" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn delete-btn">Delete</button>
                    </form> -->
                </div>
            </section>
            <section class="classroom-students">
                <h2>Your Students:</h2>
                <ul>
                    {% for st in students %}
                        <li>{{ st.student.first_name }} {{ st.student.last_name }} - {{ st.student.email_address }}</li>
                    {% empty %}
                        <li>No students in this class.</li>
                    {% endfor %}
                </ul>
            </section>
        </main>
        
        <div id="create-modal" class="modal">
            <div class="modal-content">
                <h2>Invite to Classroom</h2>
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="student_email" placeholder="Email Address" required>
                    <div style="display: flex; gap: 10px; margin-top: 20px;">
                        <a href="#" class="btn cancel">Cancel</a>
                        <button type="submit" class="btn invite">Invite</button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
