 <!DOCTYPE html>
 {% load static %}
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Create Quiz</title>
   <link rel="stylesheet" href="{% static 'css/quiz_form.css' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
 </head>


<body>
<div class="modal">
   <div class="modal-content" id="customQuizModal">
       <div class="modal-header">
           <h2>Create Quiz</h2>
           <span class="close" onclick="closeModal()">&times;</span>
       </div>
       <form method="post" hx-post="{% url 'create_quiz' %}" hx-target="#quiz-form-container" hx-swap="innerHTML" enctype="multipart/form-data">
           {% csrf_token %}
           {{ form.as_p }}
           <button type="submit">Submit</button>
       </form>
   </div>
</div>
{% if form.errors %}
   <div class="alert alert-danger">
       <strong>Form submission failed:</strong>
       <ul>
           {% for field, errors in form.errors.items %}
               <li>{{ field }}: {{ errors|join:", " }}</li>
           {% endfor %}
       </ul>
   </div>
{% endif %}
<script>
   document.body.addEventListener('htmx:configRequest', (event) => {
       event.detail.headers['X-CSRFToken'] = document.querySelector('[name=csrfmiddlewaretoken]').value;
   });
   
   function closeModal() {
        window.location.href = "{% url 'tutor_dashboard' %}";
   }
</script>
</body>
</html>