<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Tutor Dashboard{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">{% endblock %}
{% block content %}
    <div class="dashboard-container">
        <div class="dashboard-header">
            <h1>Welcome, {{ user.first_name }}!</h1>
            <div class="profile-dropdown">
                <button class="dropdown-btn">
                    <img src="https://www.gravatar.com/avatar/{{ user.gravatar_hash }}?s=200&d=identicon" alt="Profile Picture" class="gravatar">
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'tutor_profile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Log Out</a>
                </div>
            </div>
        </div>

        <div class="dashboard-content">
            <div class="dashboard-top">
                <div class="dashboard-info">
                    <h2>Your dashboard</h2>
                    <p class="description">Create quizzes, manage classrooms, and view your students statistics here!</p>
                </div>
                <a href="{% url 'create_quiz' %}" class="create-quiz inverse-btn">Create Quiz</a>
            </div>

            <section class="quiz-section">
                <h2>My Quizzes</h2>
                <div class="quiz-list">
                    {% for quiz in quizzes %}
                        {% include 'partials/quiz_card.html' with quiz_img=quiz.quiz_img quiz_name=quiz.name quiz_description=quiz.quiz_description %}
                    {% empty %}
                        <p class="text-muted">No quizzes created yet.</p>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
<script>
    window.addEventListener('DOMContentLoaded', function () {
        // Add a fake history entry to prevent the user from going back to the quiz page
        history.pushState({ page: 'dashboard' }, 'Dashboard');

        // If they try to press back, force them forward to prevent going to the quiz page
        window.addEventListener('popstate', function (event) {
            window.history.forward();
        });
    });
</script>
{% endblock %}
