<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock %}
{% block content %}
    <div class="about">
        <div class="box top-left-box" style="grid-column: span 1; grid-row: span 1;">
            <h1>Quizmunk – <i>Improving classroom interaction</i></h1>
            <p>Enhance your teaching experience with <span class=emphasis>interactive quizzes</span> and
            <span class=emphasis>real time student engagement</span>.
            Teachers can create quizzes, setup classrooms, and track student responses in real-time. 
            QuizMunk offers teachers a <span class=emphasis>wide range of question formats</span>, allowing them to customise 
            the resource to their teaching needs.
            Students can participate in live quizzes <span class=emphasis>seamlessly</span> on any device, keeping learning
            fun and engaging.
            <i>What are you waiting for?</i>
            </p>
        </div> <!--Top Left -->
        <div class="box right-box" style="grid-column: span 1; grid-row: span 2;">
            <img src="{% static 'images/phone.png' %}" class="phone-img">
        </div> <!--Right -->
        <div class="left-bottom">
            <div class="box">
                <p>"My students love it! So engaging. All my colleagues use QuizMunk."
                    <br><i>- John Doe</i>
                    <br><span class="rating">★★★★★</span>
                </p>
            </div> <!--Bottom Left -->
            <div class="box">
                <p>"My lessons wouldn't be the same without QuizMunk. Highly recommend."
                    <br><i>- Jane Doe</i>
                    <br><span class="rating">★★★★★</span>
                </p>
            </div> <!--Bottom Middle -->
        </div>
    </div>
{% endblock %}

