<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="about">
        <div class="box" style="grid-column: span 1; grid-row: span 1;">
            <p>
            Enhance your teaching experience with interactive quizzes and real-time student engagement.
            Teachers can create quizzes, assign them to rooms, and track student responses in real-time.
            Students can participate in live or pre-assigned quizzes seamlessly on any device.
            </p>
        </div> <!--Top Left -->
        <div class="box right-box" style="grid-column: span 1; grid-row: span 2;">
            <img src="{% static 'images/phone.png' %}" class="phone-img">
        </div> <!--Right -->
        <div class="left-bottom">
            <div class="box">

            </div> <!--Bottom Left -->
            <div class="box">

            </div> <!--Bottom Middle -->
        </div>
    </div>
{% endblock %}

