<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="home-box">
        <h1>Welcome to <span class="highlight">QuizMunk</span></h1>
        <img src="{% static 'images/chipmunk.svg' %}">
        <p>
            insert cool slogan
        </p>
        <div class="button-group">
            <a href="{% url 'login' %}" class="inverse-btn">Login / Sign Up</a>
            <a href="{% url 'join_quiz' %}" class="inverse-btn">Join Room as Guest</a>
        </div>
    </div>
{% endblock %}