<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Join - QuizMunk{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock %}
{% block content %}
        <h1>Join a Quiz</h1>
        <p>Enter your room code below to participate in a quiz.</p>

        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" class="form-container">
            {% csrf_token %}
            <input type="text" name="join_code" class="form-input" placeholder="Enter Room Code" id="code" required>
            <button type="submit" class="btn">Join</button>
        </form>
{% endblock %}
